/* Lexend Deca & Inter fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
    font-size: 100%;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(233, 47%, 7%);
    color: hsl(0, 0%, 100%);
    font-family: 'Inter', sans-serif;
    font-size: 0.9375em;
    margin: 1.5em;
}

.container {
    background-color: hsl(244, 38%, 16%);
    text-align: center;
    max-width: 350px;
    margin: 4em auto 0 auto;
    border-radius: 10px;
}

/* purple overlay on image */
.image {
    background: hsl(277, 75%, 35%);
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

img.mobile {
    display: block;
    width: 100%;
    opacity: 0.4;
}

/* larger version of image hidden on smaller screens */
img.desktop {
    display: none;
}

h1 {
    font-size: 1.85em;
}

.accent {
    color: hsl(277, 64%, 61%);
}

.text {
    padding: 2em;
}

p.main {
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.75;
    margin: 1em 0 2em 0;
}

.stats {
    margin-top: 2.25em;
}

p.item {
    color: hsla(0, 0%, 100%, 0.6);
    font-size: .8em;
    font-family: 'Lexend Deca', sans-serif;
    text-transform: uppercase;
    margin: 0 0 2.5em 0;
}

p.item:last-of-type {
    margin: 0;
}

p.number {
    font-weight: 700;
    font-size: 1.5em;
    margin: .25em;
}

footer {
    text-align: center;
    margin: 1em 0 3em 0;
    opacity: .75;
}

footer a {
    color:hsl(277, 64%, 61%);
}

footer a:visited {
    color:hsl(277, 64%, 81%)
}

/* larger screen layout */
@media screen and (min-width: 1200px) {
    .container {
        display: flex;
        flex-direction: row-reverse;
        max-width: 1100px;
        margin: 14.5em auto 0 auto;
    }
    .image {
        border-radius: 0 10px 10px 0;
        width: 90%;
    }

    img.desktop {
        display: block;
        opacity: 0.4;
        width: 100%;
        height: 100%
    }
    
    img.mobile {
        display: none;
    }

    .text {
        text-align: left;
        padding: 5em;
    }

    h1 {
        font-size: 2.75em;
    }

    p.main {
        padding: 1em 6em 1em 0;
    }

    .stats {
        display: flex;
    }

    .metric {
        margin-right: 5em;
    }

    p.number {
        margin-left: 0;
    }
}